@charset "UTF-8";
ul {
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
	color: springgreen;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 70px;
	height: 25px;
	color: white;
	background-color: cornflowerblue;
	margin-left: 2px;
}

a:hover{
	background-color: hotpink;
	
}
